<h1>Feature a page</h1>

<% form_for([:feature, :admin, @page]) do %>
  <p>
    <%= label_tag :spot, "Please select where to feture the page '#{h(@page.title)}'" %><br/>
    <%= select_tag :spot, options_for_select({'Home page left' => :home_page_left, 'Home page centre' => :home_page_centre, 'Home page right' => :home_page_right, "Remove from feature" => :remove }) %></p>
  <p>
    <%= submit_tag "Feature", :disable_with => 'Featuring...' %> or <%= link_to 'Cancel', admin_pages_path %>
  </p>
<% end -%>
