<ul class="resource-menu">
  <li><%= tab 'Resources', resources_path %></li>
  <li><%= tab 'Training', training_entries_path %></li>
  <li><%= tab 'Links', links_path %></li>
  <li><%= tab 'Newsletters', newsletters_path %></li>
</ul>